html {
	scroll-behavior: smooth;
}

body{
	margin: 0px;
	background-color: #fdf1db;
	text-align: center;
	font-family: 'Nanum Gothic', sans-serif;
}

.navbar{
	position: absolute;
	top: 5px;
	width: 100%;
	padding-top: 20px;
}

.nav-link{
	text-decoration: none;
	color : lightgray;
	padding: 10px;
	font-weight: bold;
}

.nav-link:hover{
	color : white;
}

.container_top {
	background-color: #984a59;
    color: white;
    margin: 0px;
    padding: 0px; 
    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    box-shadow: 1px 0px 10px black;
}

h1{
	margin: 0px;
	width:40%;
	color: #fdf1db;
	margin : 0 auto;
	font-family: 'Sacramento', cursive;
	font-size: 562.5%;
    text-shadow: 0px 0.5px 1px black;

}

.p-head{
	font-family: 'Sacramento', cursive; 
       font-size: 1.875em; 
       color : darkgray;
    text-shadow: 0px 0.5px 1px black;
}

.top-cloud{
	position: absolute;
	right: 12.5em;
    top: 6.875em;
    width : 12.50em;

}
.mountain{
	width: 50em;
	padding-top: 70px;
	position: relative;
    right: 1.875em;
}

.bottom-cloud{
 position : absolute;
 left : 11.875em;
 top : 12.5em;
 width: 12.50em;
}



 h2 {
	font-size : 35px;
	color:#984a59;

}

h3{
	font-size: 25px;
	color : #984a59;
}

p{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;

}

@media only screen and (max-width: 525px){
 .container_top{
 	margin-top: 0px;
 	padding-top: 40px;
 }
 
.top-cloud{
	display: none;
}

h1{
	font-size: 4em;
	text-align: center;
	position: relative;
	right: 32px;
    text-shadow: 0px 0.5px 1px black;
}

.p-head{
 text-shadow: 0px 0.5px 1px black;
}

.bottom-cloud{
 display: none;
    }


.mountain {
	width: 100%;
	left: 0px;	
}



}
.container_middle {
  position: relative;
  padding-top: 60px;
  text-shadow: none;
}

.container_middle p{
	font-weight: bold;
	color : #260c1a;
}

.profile{
	position: relative;
	width: 50%;
	margin: 0px auto 70px auto;
}



.prof-pic{
	width: 12.5em;
	border-radius: 100%;
	box-shadow: 0px 0.5px 5px black;
	border : 2px solid white;
}


hr{
	border : dotted gray 8px;
    width: 5%;
	border-bottom: 0px;
}

.skills{
	position : relative;
}

.h2-skills {
    margin-top: 60px;
    margin-bottom: 0px;
    padding: 10px;
    background-color: #984A59;
    color :#FDF1DB;
}

.skill1-img{
   width: 30%;
   float : left;
   margin-right: 30px;

}

.skill2-img{
   width: 30%;
   float : right;
   margin-left: 30px;

}

.skills-row{
width: 50%;
margin : 50px auto 50px auto;
text-align: left;
line-height: 2; 
}

.skills-row p{
  position: relative;
  bottom : 25px;
}

@media only screen and (max-width: 525px){
  


  .skills-row{
  	margin : none;
  	padding: none;
  	line-height: 1.6;
  	text-align: center;
  	width: 350px
  }
  

  .skill2-img,.skill1-img{
  	float: none;
  	width: 150px;
  	position: relative;
  }
.skill1-img{
	left: 13px;
}
.skill2-img{
	right: 20px;
}

}




.container_bottom {
margin-top: 50px;
position: relative;
padding-top: 20px;
background-color: #071E3D;
color :#FDF1DB;
}

.container_bottom h2{
	color : #FDF1DB;
	text-shadow: none;
}

.container_bottom h3{
	color : #FDF1DB;
	text-shadow: none;
}

.container_bottom a{
	color : #071e3d;
    text-decoration: none;
}

.contact-me{
	padding-bottom: 20px;
}

 .btn{
 	background-color: #071e3d;
 	width: 150px;
 	height: 50px;
 	color : white;
 	border-radius: 10px;
 	border: 1px solid white;
 }

 .btn:hover{
 	cursor : pointer;
 	background-color: #FDF1DB;
 	color: #071E3D;
 }


 .btn:active{
  background-color: gray;
 }

 .btn : focus {
 	outline: 0;
 }

.links{
	margin-bottom: 20px;
}
 .fab {
 	color: white;
 	font-size: 40px;
 }

 .container_bottom .fab{
	width: 50px;
	transition: all 0.4s;
  }

 .container_bottom .fab:hover{
   transform:scale(1.2);
 }

